*, ::before, ::after {
  --dark: rgba(20, 20, 20, 0.97);
  --light: rgba(170, 170, 170, 0.5);
  --xtra-light: rgba(250, 250, 250, 0.05);
  --transition: all .85s cubic-bezier(.25,.45,.45,.95);
  --max-w: 1250px;
  --min-w: 375px;
  --radius: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bush', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@font-face {
  font-family: 'Bush';
  src: url('../fonts/BushMarket-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--dark);
  color: var(--light);
}

nav {
  text-align: center;
}

a {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  position: sticky;
  color: rgba(170, 170, 170, 0.25);
  text-decoration: none;
}

a:hover {
  color: #aaa;
  text-decoration: underline;
}

h1 {
  max-width: var(--max-w);
  min-width: var(--min-w);  text-align: center;
  font-size: calc(1vw + 5px);
  letter-spacing: .4rem;
  padding: 2vw 10vw;
  margin: 0 auto;
  opacity: 0.75;
  transition: var(--transition);
}

h1:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: var(--transition);
}

.grid {
  max-width: var(--max-w);
  min-width: var(--min-w);
  width: 90vw;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid var(--xtra-light);
  border-radius: var(--radius);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 30px;
}

.grid-item {
  width: 250px;
  height: 170px;
  border-radius: var(--radius);
  overflow: hidden;
  background-size: cover;
}

.grid-item img {
  opacity: 0.75;
  transition: var(--transition);
}

.grid-item img:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: var(--transition);
}
